/* post.scss */
.kdi-astra-child__post {
  .kdi-astra-child__post-content {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .kdi-astra-child__comments {
    border-top: 1px solid #dee2e6;
    padding-top: 2rem;
  }
}
