
/*  TABS:  */
.tabs {
    &-header {
      border: solid 0.5px #ccc;
      text-align: center;
    }
    &-content {
      width: 100%;
      min-height: 8rem;
      display: none;
  
      &.active {
        display: block;
      }
    }
  
    &--item {
      position: relative;
      padding: 4px 8px;
  
      &.active::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 2px;
        background-color: rgb(32, 105, 230);
        content: "";
      }
  
      &:not(:last-child) {
        border-right: solid 0.5px #ccc;
      }
    }
  }
  /*  end-TABS  */