.woocommerce-loop-product__link {
  text-decoration: none;
}

/* #GLOBAL-PRODUCT */
.product {
  padding-bottom: 1.5rem;

  &--thumbnail {
    width: 100%;
    height: 100%;
  }
  &--onsale {
    position: absolute;
    background-color: red;
    padding: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    right: 0;
    span {
      color: white;
      display: block;
    }
  }
  &--title {
    color: #444;
    font-size: 1rem;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  &--price {
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;

    color: black;
    margin-bottom: 0.2rem;
    del {
      color: #bbb;
    }
    ins {
      color: red;
      text-decoration: none;
    }
  }
  /* product meta */
  &--sku {
    display: block;
  }
  &--tags,
  &--categories {
    display: block;
    margin-bottom: 0.1rem;
    a {
      text-decoration:none;
      color: black;
      padding: 0 1rem;
      border-radius: 25px;
      border: solid 0.1rem;
      &:hover {
        color: white;
        background-color: #96D6FF;
      }
    }
  }

  /* product actions */
  &--add-to-cart {
    display: block;
    background: #fdce30;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border: solid 1px;

    &:hover {
      color: #000;
    }
  }
}

/* #WIDGET-PRODUCT */
.widget-product {
  &__thumbnail {

  }
  &__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  &__price {
    del {
      color: #bbb;
    }
    ins {
      text-decoration: none;
    }
  }
}

.entry-summary .product--price bdi {
  font-size: 1.5rem;
  font-style: italic;
}

.woocommerce {
  &-product-rating {
    margin-bottom: 0.2rem !important;
  }
  &-review-link {
    color: black;
    text-decoration: none;
  }
}

/* #PRODUCT-RATING */
.woocommerce {
  .stars {
    a::before {
      color: yellow;
    }
  }

  .star-rating {
    &:before {
      font-family: Woocommerce;
      content: "\e021\e021\e021\e021\e021";
      color: yellow;
    }

    span::before {
      font-family: Woocommerce;
      content: "\e020\e020\e020\e020\e020";
      color: yellow;
    }
  }
} 




